.footer-logo {
  width: 110px;
  max-height: 45px;
  margin-right: 40px;
}

.karnataka-link {
  color: inherit;
  text-decoration: none;
  transition: color 0.3s ease;
}

.karnataka-link:hover {
  color: red;
}

.copyright_text{
    margin: 0;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    color:#424242;
}
.get_the_tour{
    margin-left: 30px;
    background-color:#59b10a;
    text-transform:uppercase;
    font-size:14px;
    font-weight:600;
    color:#eceeef;
    padding:18px 60px 15px;
}

.title_icon {
  display: block;
}
.content_background{
  background-image: url("../src/assets/images/bg13.jpg"); /* or none */
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  padding-left: 0;
  padding-right: 0;
  padding-top: 24px;
  padding-bottom: 16px; /* pb: 2 × 8px */
  margin-bottom: 0;
  margin-top: 0;
}
@media (max-width: 768px) {
  .title_icon {
    display: none !important;
  }
  .content_background {
    background-image: none !important;
    background-color: white !important;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
